<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Add employee</title>
   </head>
   <body>
      <form action="#" th:action="@{/create-employee}" th:object="${newEmployee}" method="post">
         First name:<input type="text" th:field="*{firstName}" /> Last Name:<input
            type="text"
            th:field="*{lastName}"
         />
         Email:<input type="text" th:field="*{email}" />
         <input type="submit" value="Submit" />
      </form>
   </body>
</html>
